/* Footer Styling */
.footer {
    background: #000; /* Black background */
    /* padding: 1.5rem 0; */
    text-align: center;
    position: fixed;
    bottom: 0;
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* width:43vw; */
    margin-left:13px;

    bottom:30px;
    border-radius: 30px;
    box-shadow: 0 0 10px #0066ff, 0 0 20px #0066ff;
  }
  
  .footer-text {
    color: #fff;
    padding:18px;
    font-size: 1rem;
    text-shadow: 0 0 5px #0066ff, 0 0 10px #0066ff;
    margin: 0;
    transition: color 0.3s ease;
  }
  
  .footer-text:hover {
    color: #0066ff; /* Text color changes to blue on hover */
  }
  