/* Scroll to top button styles */
.scroll-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    font-size: 18px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .scroll-to-top:hover {
    background-color: #0056b3;
  }
  
  .scroll-to-top:focus {
    outline: none;
  }
  
  .scroll-to-top.show {
    opacity: 1;
  }
  